#editor-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#buttons{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.button-each{
    margin-right: 5px;
    margin-left: 5px;
}

#text-area{
    box-sizing: border-box;
    width: 100%;
}